li {
    list-style-type: none;
}

li a {
    color: black;
    text-decoration: none;
}

body {
    background: white;
}

h1 {
	font-family: Ubuntu;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 27.4px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

h2 {
    font-family: Ubuntu;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 27.4px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 35px;
}

h3 {
    font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 27.4px;
    margin-top: 10px;
    margin-bottom: 1px;
    margin-right: 0px;
    margin-left: 35px;
}

h4 {
    font-family: Ubuntu;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 27.4px;
    margin-top: 26px;
    margin-bottom: 1px;
    margin-right: 0px;
    margin-left: 35px;
}

p {
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
}

p1 {
    font-family: Ubuntu;
	font-size: 10px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
    color: grey;
    line-height: 0px;
}

p2 {
    font-family: Ubuntu;
	font-size: 10px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
    color: grey;
    line-height: 0px;
    margin-left: 35px;
}

p3 {
    font-family: Ubuntu;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
    color: black;
    line-height: 16px;
    margin-left: 35px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

input {
    margin-left: 35px;
}
