{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />

{% if not user.is_superuser %}
    <a href="/login/">LOG IN</a><br>
{% endif %}

{% if user.is_superuser %}
    <p5>Logged in as  as {{request.user.username}}</p5>
    <a href="/logout/">LOG OUT</a><br>
    <a href="/newpost/">ADD NEW POST</a>
{% endif %}

{% if object_list %}
<ul>
  {% for post in posts_list %}
      <li>
          <h1><a href="{% url 'blog:post' post.id %}">{{ post.title }}</a></h1>
          <p1>{{ post.date }}</p1>
      </li>
  {% endfor %}
</ul>
{% else %}
<p>There are no posts here...</p>
{% endif %}
