{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />

<h1>Add new post</h1><br>

<form action="addingpost/" method="POST">
    {% csrf_token %}
    <label for="title">Title:</label><br>
    <textarea id="title" type="text" name="title" value="{{ title }}" cols="60" rows="1"></textarea><br>
    <label for="text">Text:</label><br>
    <textarea id="text" type="text" name="text" value="{{ text }}" cols="100" rows="10"></textarea><br>
    <input type="file" id="image" name="image" accept="image/*" value="{{ image }}"><br>
    <input type="submit" value="Submit">
</form>
