{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />

<h2>{{ post.title }}</h2>
<p>{{ post.text }}</p>
<p2>Post published on {{ post.date }}</p2>

<h4>Comments:</h4>

<ul>
    {% for comment in post.comments.all %}
        {% if comment.approved %}
            <li>
                <h3>{{ comment.author }}</h3>
                <p3>{{ comment.text }}</p3><br>
                <p2>{{ comment.date }}</p2>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<form action="comment/" method="POST">
    {% csrf_token %}
    <label for="author">Author:</label><br>
    <input id="author" type="text" name="author" value="{{ author }}"><br>
    <label for="text">Your comment:</label><br>
    <input id="text" type="text" name="text" value="{{ text }}"><br>
    <input type="submit" value="Submit">
</form>
