{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />

<h2>{{ post.title }}</h2>
<p>{{ post.text }}</p>
<p2>Post published on {{ post.date }} by {{ request.user.username }}</p2>

<h4>Comments:</h4>

<ul>
    {% for comment in post.comments.all %}
        {% if comment.approved %}
            <li>
                <h3>{{ comment.author }}</h3>
                <p3>{{ comment.text }}</p3><br>
                <p2>{{ comment.date }}</p2>
            </li>
        {% endif %}
    {% endfor %}
</ul>

{% if not user.is_authenticated %}
    <p><a href="/login/">Log in</a> to add a comment</p>
{% endif %}

{% if user.is_authenticated %}
    <form action="comment/" method="POST">
        {% csrf_token %}
        <br><label for="author">Add new comment:</label><br>
        <textarea id="text" type="text" name="text" value="{{ text }}" cols="100" rows="10"></textarea><br>
        <p4>You are posting as {{ request.user.username }}</p4><br>
        <input type="submit" value="Submit">
    </form>
{% endif %}
